.container {
  background-color: #f8f9fa;
}

.card {
  border-radius: 12px;
}

.btn {
  font-size: 16px;
  padding: 10px;
}

.btn-light {
  background-color: white;
  border: 1px solid #ddd;
}

.btn-primary {
  background-color: #1877F2; // Cor oficial do Facebook
}

.btn-dark {
  background-color: #2B2B2B; // Cor da Microsoft
}

i {
  font-size: 20px;
}
